
<header>
  <h1>Blogger Hut welcomes you :)</h1>
  <p class="home-text">
    Have a thought!<br>Just pen it down!!      
  </p>
  
  <div class="row">
   
    <ul class="main-menu">
      <li class="main-btn" > <a href="/signup">SIGN UP</a></li>
      <li><a href="/articles">Display Articles</a></li>
      <li><a href="/about">About Us</a></li>
    </ul>
  <div>
</header>
